{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
{#    {% load supervision_tags %}#}

    <link rel="stylesheet" href="{% static 'supervision/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'supervision/css/styles.css' %}">
    <script src="{% static 'supervision/js/main.js' %}"></script>

<!-- Добавление дополнительного статического CSS файла -->
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}

</head>
<body>
<div class="wrapper">

    <section class="nav">
        <!-- Блок панели навигации-->
        {% block navigation %}
            <div class="auth_user">
                    <a href="{% url 'employee_detail' user.pk %}">
                         {% if user.profile.photo %}
                        <img class="auth_user__photo" src="{{user.profile.photo.url }}" alt="">
                        {% else %}
                        <img class="auth_user__photo" src="{% static 'supervision/image/user.png' %}" alt="">
                        {% endif %}
{#                        <img class="auth_user__photo" src="{% static 'supervision/image/user.png'%}" alt="">#}
                    </a>
                    <div class="auth_user__name">
                        <p class="auth_user__info">{{ user.first_name }}</p>
                        <p class="auth_user__info">{{ user.last_name }}</p>
                    </div>
                    <a class="exit__link" href="{% url 'logout'%}">выйти</a>
                </div>

                <div class="nav__menu">
                    <ul class="nav__menu_list">
{#                        {% for m in menu %}#}
{#                            {{m.url_menu}}#}
                        <li class="nav__menu_item">
                            <a class="nav__menu_link" href="{% url 'index' %}" title="Главная">
                                <img class="nav__menu_img" src="{% static  'supervision/image/home.png' %}" alt="" >
                            </a>
                        </li>
                        <hr>
                        <li class="nav__menu_item">
                            <a class="nav__menu_link" href="{% url 'business_trip' %}" title="Командировки">
                                <img class="nav__menu_img" src="{% static  'supervision/image/trip.png' %}" alt="" >
                            </a>
                        </li>
                        <hr>
                        <li class="nav__menu_item">
                            <a class="nav__menu_link" href="{% url 'mismatch_list' %}" title="Несоответствия">
                                <img class="nav__menu_img" src="{% static  'supervision/image/mismatch.png' %}" alt="" >
                            </a>
                        </li>
                        <hr>
                        <li class="nav__menu_item">
                            <a class="nav__menu_link" href="{% url 'letter_list' %}" title="Служебные письма">
                                <img class="nav__menu_img" src="{% static  'supervision/image/letters.png' %}" alt="" >
                            </a>
                        </li>
                        <hr>
                        <li class="nav__menu_item">
                            <a class="nav__menu_link" href="{% url 'solution_list' %}" title="Тех.решения">
                                <img class="nav__menu_img" src="{% static  'supervision/image/solutions.png' %}" alt="" >
                            </a>
                        </li>
                        <hr>
{#                        {% if user.profile.is_liner == 1 %}#}
{#                            <li class="nav__menu_item">#}
{#                            <a class="nav__menu_link" href="{% url 'drawing_list' %}" title="Чертежи">#}
{#                                <img class="nav__menu_img" src="{% static  'supervision/image/drawing.png' %}" alt="" >#}
{#                            </a>#}
{#                        </li>#}
{#                        <hr>#}
{#                        <li class="nav__menu_item">#}
{#                            <a class="nav__menu_link" href="{% url 'group_list'%}?place={{ pk }}" title="Группы чертежей">#}
{#                                <img class="nav__menu_img" src="{% static  'supervision/image/group2.png' %}" alt="" >#}
{#                            </a>#}
{#                        </li>#}
{#                        <hr>#}
{#                        {% endif %}#}

                        {% if user.profile.is_liner == 0 %}
                        <li class="nav__menu_item">
                            <a class="nav__menu_link" href="{% url 'employee_list' %}" title="Сотрудники">
                                <img class="nav__menu_img" src="{% static  'supervision/image/employee.png' %}" alt="" >
                            </a>
                        </li>
                        <hr>
                        <li class="nav__menu_item">
                            <a class="nav__menu_link" href="{% url 'place_list' %}" title="Объекты">
                                <img class="nav__menu_img" src="{% static  'supervision/image/place.png' %}" alt="" >
                            </a>
                        </li>
                        <hr>
                         <li class="nav__menu_item">
                            <a class="nav__menu_link" href="{% url 'admin_page' %}" title="Настройки">
                                <img class="nav__menu_img" src="{% static  'supervision/image/settings.png' %}" alt="" >
                            </a>
                        </li>
                        {% endif %}
{#                        {% endfor %}#}
                    </ul>
                </div>
        {% endblock %}
    </section>

    <section class="content">
        <!-- Блок контента -->
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>

    </section>


{#    <div class="footer">#}
{#        <!-- Блок подвала -->#}
{#        {% block footer %}#}
{#            <p>Здесь будет Блок подвала</p>#}
{#        {% endblock %}#}
{#    </div>#}


</div>
</body>
</html>
{% endif %}
