{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block sidebar %}
        <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'mismatch' %}">Несоответствия</a></li>
                <li class="sidebar__item"><a href="#">создать Несоответствие</a></li>
            </ul>
            <hr>
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'place_list' %}">Объекты</a></li>
                <li class="sidebar__item"><a href="#">создать Объект</a></li>
                <li class="sidebar__item"><a href="#">создать Командировку</a></li>
            </ul>
            <hr>
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'business_trip' %}">Командировки</a></li>
                <li class="sidebar__item"><a href="#">создать Командировку</a></li>
            </ul>
            <hr>
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="#">Сотрудники</a></li>
                <li class="sidebar__item"><a href="#">изменить Должность</a></li>
                <li class="sidebar__item"><a href="#">добавить Сотрудника</a></li>
            </ul>
            <hr>
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'unit_list' %}">Узелы</a></li>
                <li class="sidebar__item"><a href="#">создать Узел</a></li>
            </ul>
            <hr>
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'element_list' %}">Чертежи</a></li>
                <li class="sidebar__item"><a href="#">создать Чертёж</a></li>
            </ul>
        </div>

    {% endblock %}

    {% block content %}
        <div class="main__issues">

            Список нерешенных вопросов

        </div>
    {% endblock %}
