{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block content %}
        <section class="element_detail">
            <div class="content_title">
                 <h1 class="title">{{ title }} <span class="title_number"> {{ drawing_detail.number }} {{ drawing_detail.name }}</span></h1>
                <div class="new_btn">
                    <a href="{% url 'drawing_update' drawing_detail.pk %}" class="new_link">Радактировать</a>
                </div>
            </div>
        <hr>

            <div class="detail__block">
                {% if drawing_detail %}
                    <div class="detail__item">
                        <div class="detail__label">Узел</div>
                        <div class="detail__text">{{ drawing_detail.group.number }} {{ drawing_detail.group.name }}</div>
                    </div>
                        <div class="detail__item">
                            <div class="detail__label">Чертёж</div>
                            <div class="detail__text" >
                                {{ drawing_detail.number }} {{ drawing_detail.name}}                           </div>
                        </div>

                        {% if drawing_detail.mass %}
                        <div class="detail__item">

                             <div class="detail__label">масса</div>
                            <div class="detail__text" >{{ drawing_detail.mass }} кг.</div>

                        </div>
                        {% endif %}

                        {% if drawing_detail.steel %}
                        <div class="detail__item">
                            <div class="detail__label">сталь</div>
                            <div class="detail__text" >{{ drawing_detail.steel }}</div>
                        </div>
                        {% endif %}

                        {% if drawing_detail.file %}
                        <div class="detail__item">
                            <div class="detail__label">Файлы</div>
                            <div class="detail__text" >{{ drawing_detail.file }}</div>
                        </div>
                        {% endif %}

            {% else %}
                <p>нет чертежа</p>
            {% endif %}
            </div>
        </section>

    {% endblock %}