{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block content %}
        <section class="element">
            <div class="content_title">
                 <h1 class="title">{{ title }}</h1>
                <div class="new_btn">
                    <a href="{% url 'drawing_create' %}" class="new_link">+ Добавить</a>
                </div>
            </div>
            <hr>
            <div class="list__card">
            {% if drawing_list %}
                {% for drawing in drawing_list %}
                    <div class="card__block">

                        <div class="card__item">
                            <div class="card__label">Узел</div>
                            <div class="card__text">{{ drawing.group.number }} {{ drawing.group.name }}</div>
                        </div>

                        <div class="card__item">
                            <div class="card__label">Чертёж</div>
                            <div class="card__text" >
                                <a href="{{ drawing.get_absolute_url }}">{{ drawing.number }} {{ drawing.name}}</a>
                            </div>
                        </div>

                        {% if drawing.mass %}
                        <div class="card__item">
                            <div class="card__label">масса</div>
                            <div class="card__text" >{{ drawing.mass }} кг.</div>
                        </div>
                        {% endif %}

                    </div>
                {% endfor %}
            {% else %}
                <p>Нет Черетжей</p>
            {% endif %}
            </div>
        </section>



    {% endblock %}