body{
    font-family: "wf_segoe-ui_semilight", "Segoe UI Semilight", "Segoe WP Semilight", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
}
h1{
    font-size: 18px;
    text-transform: uppercase;
}
.wrapper{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows:50px 1fr ;
    min-height: 100vh;

}
.nav{
    display: flex;
    background-color: #007264;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
.nav__logo{
    width: 100px;
}
.nav__menu{
    width: 100%;
}
.nav__menu_list{
    display: flex;
    justify-content: space-around;
}

.content{
    color: #333;
    display: grid;
    grid-template-columns: 230px 1fr;
}

.content_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.title_number{
    font-weight: bolder;
}
.new_btn{
    /*position: absolute;*/
    /*top: 23px;*/
    /*right: 42px;*/
    border-radius: 8px;
    background-color: #FF7F50FF;
    color: white;
    padding: 5px 0 7px 0;
    width: 150px;
    text-align: center;
}
.new_btn:hover{
    background-color: rgb(246, 100, 52);
}

.sidebar{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    background-color: #f3f3f3;
    height: 100vh;
}
.sidebar__list{

}
.sidebar__item{
    margin-bottom: 10px;
}
.sidebar__filter{
    font-size: 14px;
}
.sidebar__filter_title{
    font-size: 16px;
    text-align: center;
}

.main{
    padding-left: 10px;
    padding-right: 20px;
}
.auth_user{
    font-size: 12px;
    width: 200px;
}
.auth_user__name{
    margin-bottom: 5px;
}
.exit__link{

}
.footer{
    padding-left: 20px;
    padding-right: 20px;
    background-color: mediumslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__wrapper{
    width: 100%;
    height: 100vh;
    background-color: #007264;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.login__title{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    position: absolute;
    top: 16%;
}
.login__form_wrappeer{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.login__form{

}
.login__error{
    padding: 10px;
    color: #FF7F50FF;
}
.small{
    font-size: 12px;
    justify-content: start;
    opacity: 0.6;
}
.login__table{
    margin-bottom: 20px;
}
.login__table_td{
    padding: 0 10px 14px 0;
}
td>input{
    border: none;
    padding: 5px;
}
.login__btn{
    border: none;
    padding: 7px 0;
    width: 100%;
    border-radius: 8px;
    background-color: #FF7F50FF;
    color: white;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
}
.login__btn:hover{
    background-color: rgb(246, 100, 52);
}
/*------------------ несоответствия список------  */

.mismatch{
    /*position: relative;*/
}

.mismatch__block{
    border-bottom: 1px solid #007264;
    margin-bottom: 10px;
}
.mismatch__block_title{
    display: flex;
    margin-bottom: 7px;
}
.mismatch__id{
    margin-right: 20px;
}
.mismatch__block_status{
    display: flex;
    font-size: 10px;
    justify-content: space-around;
    align-items: center;
    /*background-color: rgba(255, 127, 80, 0.15);*/
    padding: 3px 0;
    margin-bottom: 5px;
    font-style: italic;
}
.mismatch__title{

}
.mismatch__type{

}
.mismatch__status{

}

/*------------------ несоответстия фильтр------  */
.mismatch_filter__block{
    margin-top: 20px;
}
.form_mismatch__send{
    margin-top: 20px;
}
.mismatch_filter__label{
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
 }
.mismatch_filter__label_date{
    display: inline-block;
    width: 23px;
}
.form_mismatch__date_item{
    margin-bottom: 5px;
}
.form_mismatch__period{
    margin-top: 10px;
    margin-left: 25px;
}

/*------------------ несоответствия детально------  */


.mismatch_detail__block{
font-size: 14px;
}
.mismatch_detail__item{
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 7px;
}
.mismatch_detail__ladel{
    flex-basis: 200px;
    margin-right: 10px;
    font-size: 12px;
 }
/*------------------ командировки------  */
.business-trip__block{
    padding-left:20px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.business-trip__current{
    margin-bottom: 30px;
}
.btc__item{
    display: grid;
    grid-template-columns: 2fr 3fr 90px;
    margin-bottom: 10px;
}
.btc__link{
    /*display: block;*/
    /*padding-bottom: 3px;*/
    /*border: 1px solid #333333;*/
    /*border-radius: 8px;*/
    /*text-align: center;*/
}
.btc__btn{
    width: 100px;
}
.bt__item{
    display: grid;
    grid-template-columns: 20px 1fr 330px;
    margin-bottom: 10px;
}
.bt__title{
    padding: 10px;
    background-color: #eee;
    margin-bottom: 10px;
}

.bt__date{
    display: grid;
    grid-template-columns: 50% 50%;
}

.bt__date_start{
    margin-right: 14px;
}
.bt__table_row{
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 1px 0px;
}
.btc__table_row{
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 1px 0px;
}
.tad_row_item{
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 5px;
}
.btc__link_icon{
    width: 20px;
}


