{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block sidebar %}
        <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="#">Создать командировку</a></li>
                <li class="sidebar__item"><a href="#">Продлить командировку</a></li>
            </ul>
            <hr>
            <ul class="sidebar__list">

                <li class="sidebar__item"><a href="#">Планируемые командировки</a></li>
                <li class="sidebar__item"><a href="#">Завершенные командировки</a></li>
            </ul>


        </div>

    {% endblock %}

    {% block content %}
        <section class="business-trip">
             <div class="content_title">
                <h1 class="title">{{ title }}</h1>
             {% if trip.end > date_today %}
                 {% if trip %}
                 <div class="new_btn">
                    <a href="extension_business_trip" class="new_link">Продлить</a>
                </div>
                 {% else %}
                     <div class="new_btn">
                        <a href="business_trip_create" class="new_link">+ Добавить</a>
                     </div>
                 {% endif %}
             {% endif %}
        </div>

        {% if trip %}
            <div class="business-trip__current">
                {% if trip.end > date_today %}
                <h2 class="bt__title">Текущая командировка</h2>
                {% else %}
                <h2 class="bt__title">Завершенная командировка</h2>
                {% endif %}

                <div class="business-trip__block">
                    <div class="btc__item">
                        <p class="bt__object">{{ trip.plaсe.name}}</p>
                        <div class="bt__date">
                            <p class="bt__date_start"> с {{ trip.start }}г</p>
                            <p class="bt__date_end">по {{ trip.end }}г</p>
                        </div>

                    </div>

                    <p class="bt__purpose"><span class="small">цель: </span>{{ trip.purpose}}</p>
                </div>

            </div>
        {% else %}
            <p>У вас нет действующих командировок</p>
        {% endif %}

        </section>



    {% endblock %}