{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block sidebar %}
        <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="#">Создать командировку</a></li>
                <li class="sidebar__item"><a href="#">Продлить командировку</a></li>
            </ul>
            <hr>
            <ul class="sidebar__list">

                <li class="sidebar__item"><a href="#">Планируемые командировки</a></li>
                <li class="sidebar__item"><a href="#">Завершенные командировки</a></li>
            </ul>


        </div>

    {% endblock %}

    {% block content %}
        <section class="business-trip">
             <div class="content_title">
                <h1 class="title">Командировки</h1>
                 <div class="new_btn">
                <a href="#" class="new_link">+ Добавить</a>
                 </div>
        </div>

        {% if trips_current %}

            <div class="business-trip__current">

                <h2 class="bt__title">Текущая командировка</h2>

            {% for trip in trips_current %}
                <div class="business-trip__block">
                    <div class="btc__item">
                        <p class="bt__object"><a href="{{ trip.get_absolute_url  }}">{{ trip.plaсe.name }}</a></p>
                        <div class="bt__date">
                            <p class="bt__date_start"> с {{ trip.start }}</p>
                            <p class="bt__date_end">по {{ trip.end }}</p>
                        </div>
                        <div class="btc__btn">
                            <a class="btc__link btn" href="#">продлить</a>
                        </div>

                    </div>
                    <p class="bt__purpose"><span class="small">цель: </span>{{ trip.purpose }}</p>
                </div>
            {% endfor%}
            </div>
        {% endif %}

            {% if trips_completed %}
            <div class="business-trip__completed">
                <h2 class="bt__title">Завершенные командировки</h2>
            <div class="business-trip__block">
        {% for trip_c in trips_completed %}

            <div class="bt__item">
                <p class="bt__num">{{ forloop.counter }}</p>
                <p class="bt__object"><a href="{{ trip_c.get_absolute_url }}">{{ trip_c.plaсe.name }}</a></p>
                <div class="bt__date">
                    <p class="bt__date_start"> с {{ trip_c.start }}</p>
                    <p class="bt__date_end">по {{ trip_c.end }}</p>
                </div>
            </div>

        {% endfor%}
                </div>

            </div>
        {% endif %}
        </section>


    {% endblock %}