{% extends "base_generic.html" %}
 {% block title %}
     <title>{{ title }}</title>
{% endblock %}


{% block sidebar %}
   <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="#">Добавить сотрудника</a></li>

            </ul>
        </div>
{% endblock %}

{% block content %}


{#            <div class="content_title">#}
{#                 <h1 class="title">Создание новой командировки</h1>#}
{#                <div class="new_btn">#}
{#                    <a href="#" class="new_link">+ Добавить</a>#}
{#                </div>#}
{#            </div>#}
{#            <hr>#}



<form action="" method="post" class="form_wrap">
    {% csrf_token %}

     <div class="form_title">
        <h2>Командировка</h2>
    </div>
    <div class="form_error">
        {{ form.non_field_errors }}
    </div>

        <div class="form_section">
        <div class="form_section_name">
            <h2>сведения о командировке</h2>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.place.id_for_label }}">{{ form.place.label }}</label>
                {{ form.place }}
            </div>
            <div class="form_error">{{ form.place.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
                {{ form.user }}
            </div>
            <div class="form_error">{{ form.user.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.start.id_for_label }}">{{ form.start.label }}</label>
                {{ form.start }}
            </div>
            <div class="form_error">{{ form.start.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.end.id_for_label }}">{{ form.end.label }}</label>
                {{ form.end }}
            </div>
            <div class="form_error">{{ form.end.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.purpose.id_for_label }}">{{ form.purpose.label }}</label>
                {{ form.purpose }}
            </div>
            <div class="form_error">{{ form.purpose.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.activ.id_for_label }}">{{ form.activ.label }}</label>
                {{ form.activ }}
            </div>
            <div class="form_error">{{ form.activ.errors }}</div>
        </div>

    </div>



        <biv class="form_btn">
          <input type="submit" value="Сохранить" id="create_business_trip" class="btn ">
        </biv>

</form>
{% endblock %}