{% extends "base_generic.html" %}
 {% block title %}
     <title>{{ title }}</title>
{% endblock %}


{% block sidebar %}
   <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="#">создать Узел</a></li>

            </ul>
        </div>
{% endblock %}

{% block content %}


            <div class="content_title">
                 <h1 class="title">Новой Узел</h1>
{#                <div class="new_btn">#}
{#                    <a href="#" class="new_link">+ Добавить</a>#}
{#                </div>#}
            </div>
            <hr>



<form action="" method="post" class="business_trip__form_create">
    {% csrf_token %}
    {{ form.non_field_errors }}
{#    <table>#}
{#    {{ form.as_table }}#}
{#    </table>'plaсe':'Объект', 'user':'сотрудник',#}
    {# 'start':'С', 'end':'По', 'purpose':'Цель',#}
    {# 'activ':'дайствующая'#}

    {{ form.parent.errors }}
    <label class="form_add_lable" for="{{ form.parent.id_for_label }}">Родительский Узел:</label>
    <div class="intup_parent form_add_intput">{{ form.parent }}</div>

    {{ form.number.errors }}
    <label class="form_add_lable" for="{{ form.number.id_for_label }}">Номер Узла:</label>
    <div class="intup_number form_add_intput">{{ form.number }}</div>

    {{ form.name.errors }}
    <label class="form_add_lable" for="{{ form.name.id_for_label }}">Наименование:</label>
    <div class="intup_name form_add_intput">{{ form.name }}</div>


    <biv></biv>
    <input type="submit" value="Сохранить" class="btn create_trip"/>

</form>
{% endblock %}