{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block sidebar %}
        <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'employee_list' %}">Список сотрудников</a></li>
                <li class="sidebar__item"><a href="{% url 'employee_create' %}">Добавить сотрудника</a></li>

            </ul>
        </div>
    {% endblock %}

    {% block content %}
        <section class="employee">
            <div class="content_title">
                 <h1 class="title">{{ title }} {{ employee_detail.user.last_name }}
                              {{ employee_detail.user.first_name}} {{ employee_detail.surname}}</h1>
                <div class="new_btn">
                    <a href="{% url 'employee_update' employee_detail.user.id %}" class="new_link">Редактировать</a>
                </div>
            </div>
            <hr>

            <div class="detail__block">
            {% if employee_detail %}

                <div class="detail__item">
                    <div class="detail__label">Фамилия</div>
                    <div class="detail__text">{{ employee_detail.user.last_name }}</div>
                </div>
                <div class="detail__item">
                    <div class="detail__label">Имя</div>
                    <div class="detail__text">{{ employee_detail.user.first_name }}</div>
                </div>
                <div class="detail__item">
                    <div class="detail__label">Отчество</div>
                    <div class="detail__text">{{ employee_detail.user.profile.surname }}</div>
                </div>
                <div class="detail__item">
                    <div class="detail__label">Дата рождения</div>
                    <div class="detail__text">{{ employee_detail.user.profile.birth_date }}</div>
                </div>

                {% if death_date %}
                <div class="detail__item">
                    <div class="detail__label">Дата смерти</div>
                    <div class="detail__text">{{ employee_detail.user.profile.death_date }}</div>
                </div>
                {% endif %}

                <div class="detail__item">
                    <div class="detail__label">Должность</div>
                    <div class="detail__text">{{ current_position }}</div>
                </div>
             </div>

                    {% if career_list %}
                        <div class="detail__block">
                            Карьера:
                            {% for career in career_list %}

                                <div class="detail__item">
                                    <div class="detail__label">{{ career.position.name }}</div>
                                    <div class="detail__text">с {{ career.start_date }}
                                        {% if career.end_date %}
                                            по{{ career.end_date }}
                                        {% else %}
                                            по настоящее время
                                        {% endif %}
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}


                {% else %}
                <p>Нет сотрудников</p>
            {% endif %}
            </div>
        </section>



    {% endblock %}