{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}




    {% block content %}

        <section class="employee">
            <div class="content_title">
                 <h1 class="title">{{ title }}</h1>
{#                <div class="new_btn">#}
{#                    <a href="{% url 'employee_create' %}" class="new_link">+ Добавить</a>#}
{#                </div>#}
            </div>
            <div class="list__filter">
               <ul class="list__filter_list">
                   <li class="list__filter_item selected_item">Действующий</li>
                   <li class="list__filter_item"><a class="list__filter_link" href="">Уволеные</a></li>
                </ul>
           </div>

            <div class="list__card">
            {% if employee_list %}
                {% for employee in employee_list %}
                    <div class="card__block">
                        <div class="card__head">
                            <div class="card__title">
                                <a href="{{employee.profile.get_absolute_url}}"> {{ forloop.counter }}  {{ employee.first_name }}
                                  {{ employee.last_name}} {{ employee.profile.surname}}</a>
                            </div>
                        </div>

                        <div class="card__info">
                            <div class="card__item">
                                <p class="card__label">Должность</p>
                                <p class="card__text">{{employee.profile.position.name}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет сотрудников</p>
            {% endif %}
            </div>
        </section>



    {% endblock %}