{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block sidebar %}
        <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'employee_create' %}">Добавить сотрудника</a></li>

            </ul>
        </div>
    {% endblock %}

    {% block content %}

        <section class="employee">
            <div class="content_title">
                 <h1 class="title">{{ title }}</h1>
{#                <div class="new_btn">#}
{#                    <a href="{% url 'employee_create' %}" class="new_link">+ Добавить</a>#}
{#                </div>#}
            </div>
            <hr>

            <div class="list__card">
            {% if employee_list %}
                {% for employee in employee_list %}
                    <div class="card__block">
                        <div class="card__head">
                            <div class="card__title">
                                <a href="{{employee.get_absolute_url}}"> {{ forloop.counter }}  {{ employee.user.first_name }}
                                  {{ employee.user.last_name}} {{ employee.surname}}</a>
                            </div>
                        </div>

                        <div class="card__info">
                            <div class="card__item">
                                <p class="card__label">Должность</p>
                                <p class="card__text">{{employee.position.name}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет сотрудников</p>
            {% endif %}
            </div>
        </section>



    {% endblock %}