{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block sidebar %}
        <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'place_list' %}">Список Объектов </a></li>
                <li class="sidebar__item"><a href="{% url 'place_create' %}">Создать объект</a></li>
            </ul>
            <hr>
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'group_list' place_detail.pk %}">Посмотреть группы </a></li>
                <li class="sidebar__item"><a href="{% url 'group_create' place_detail.pk %}">Добавить группу </a></li>
            </ul>


        </div>

    {% endblock %}

    {% block content %}
        <section class="place_detail">
            <div class="content_title">
                 <h1 class="title">{{ place_detail.name }}</h1>
                <div class="new_btn">
                    <a href="{% url 'place_update' place_detail.pk %}" class="new_link">Радактировать</a>
                </div>
            </div>
        <hr>

            <div class="detail__block">
                {% if place_detail %}

                    <div class="detail__item">
                        <div class="detail__label">статус</div>
                        <div class="detail__text">{{ place_detail.get_status_display }}</div>
                    </div>

                    <div class="detail__item">
                        <div class="detail__label">Модель оборудовани</div>
                        <div class="detail__text">{{ place_detail.equipment}}</div>
                    </div>

                    <div class="detail__item">
                        <div class="detail__label">Тип оборудования</div>
                        <div class="detail__text">{{ place_detail.equipment_type}}</div>
                    </div>

                    <div class="detail__item">
                        <div class="detail__label">Договор №</div>
                        <div class="detail__text">{{ place_detail.contract}} </div>
                    </div>

                    <div class="detail__item">
                        <div class="detail__label">Руководитель проекта</div>
                        <div class="detail__text">{{ place_detail.project_manager}}</div>
                    </div>

                    <div class="detail__item">
                        <div class="detail__label">Главны инженер проекта</div>
                        <div class="detail__text">{{ place_detail.chief_engineer}} </div>
                    </div>


            {% else %}
                <p>нет объекта</p>
            {% endif %}
            </div>
        </section>



    {% endblock %}