{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block sidebar %}
        <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'place_create' %}">создать Объект</a></li>

            </ul>
        </div>
    {% endblock %}

    {% block content %}
        {% if user.is_staff %}

        <section class="section">
            <div class="content_title">
                 <h1 class="title">{{ title }}</h1>
                <div class="new_btn">
                    <a href="{% url 'place_create' %}" class="new_link">+ Добавить</a>
                </div>
            </div>
           <div class="list__filter">
               <ul class="list__filter_list">
                   <li class="list__filter_item"><a class="list__filter_link" href="#">Перспективный</a></li>
                   <li class="list__filter_item activ_item"><a class="list__filter_link " href="#">Действующий</a></li>
                   <li class="list__filter_item"><a class="list__filter_link" href="#">Завершенный</a></li>
                   <li class="list__filter_item"><a class="list__filter_link" href="#">Отмененный</a></li>
               </ul>
           </div>

            <div class="list__card">
            {% if place_list %}
                {% for place in place_list %}
                    <div class="card__block">
                        <div class="card__head">
                            <div class="card__title">
                                <a href="{{place.get_absolute_url}}">{{ place.name}}  (заказ. {{ place.order }})</a>
                            </div>
                            <div class="card__extra">
                                <p class="">{{ place.status}}</p>
                            </div>
                        </div>
                        <div class="card__info">
                            <div class="card__item">
                                <p class="card__label">номер Договора</p>
                                <p class="card__text">{{ place.contract}}</p>
                            </div>
                            <div class="card__item">
                                <p class="card__label">Модель оборудования</p>
                                <p class="card__text">{{ place.equipment }}</p>
                            </div>
                            <div class="card__item">
                                <p class="card__label">Тип оборудования</p>
                                <p class="card__text">{{ place.equipment_type }}</p>
                            </div>

                            <div class="card__item">
                                <p class="card__label">Менеджер проекта</p>
                                <p class="card__text"> {{ place.project_manager}}</p>
                            </div>
                            <div class="card__item">
                                <p class="card__label">Гл.инженер проекта</p>
                                <p class="card__text"> {{ place.chief_engineer}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет объектов</p>
            {% endif %}
            </div>
        </section>


        {% endif %}
    {% endblock %}