{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block sidebar %}
        <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="#">создать Объект</a></li>

            </ul>
        </div>
    {% endblock %}

    {% block content %}
        {% if user.is_staff %}

        <section class="section">
            <div class="content_title">
                 <h1 class="title">{{ title }}</h1>
                <div class="new_btn">
                    <a href="#" class="new_link">+ Добавить</a>
                </div>
            </div>
           <div class="list__filter">
               <ul class="list__filter_list">
                   <li class="list__filter_item"><a class="list__filter_link" href="#">Перспективный</a></li>
                   <li class="list__filter_item activ_item"><a class="list__filter_link " href="#">Действующий</a></li>
                   <li class="list__filter_item"><a class="list__filter_link" href="#">Завершенный</a></li>
                   <li class="list__filter_item"><a class="list__filter_link" href="#">Отмененный</a></li>
               </ul>
           </div>

            <div class="place_list">
            {% if place_list %}
                {% for place in place_list %}
                    <div class="place__block">
                        <div class="place__block_title">
                            <div class="place__id">{{ place.pk}}</div>
                            <div class="place__title">
                                <a href="{{place.get_absolute_url}}">{{ place.name}}</a>
                            </div>
                        </div>
                        <div class="place__block_status">
                          <div class="place__equipment">{{ place.equipment }}</div>
                          <div class="place__equipment_type">{{ place.equipment_type }}</div>
                            <div class="place__contract">{{ place.contract}}</div>
                            <div class="place__status">{{ place.status.get_type_display}}</div>
                            <div class="place__project_manager">Менеджер проекта {{ place.project_manager}}</div>
                            <div class="place__chief_engineer">Гл.инженер проекта {{ place.chief_engineer}}</div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет объектов</p>
            {% endif %}
            </div>
        </section>


        {% endif %}
    {% endblock %}