{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block sidebar %}
        <div class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item"><a href="{% url 'unit_list' %}">Список узлов </a></li>
                <li class="sidebar__item"><a href="#">Создать узел</a></li>
                <li class="sidebar__item"><a href="#">Редактировать узел</a></li>
            </ul>



        </div>

    {% endblock %}

    {% block content %}
        <section class="unit_detail">
            <div class="content_title">
                 <h1 class="title">{{ title }} <span class="title_number"> {{ unit_detail.number }} {{ unit_detail.name }}</span></h1>
            </div>
        <hr>

            <div class="unit_detail__block">
                {% if unit_detail %}
                    <div class="unit_detail__item">
                        <div class="unit_detail__ladel">Родительский узел</div>
                        <div class="unit_detail__parent">{{ unit_detail.parent }}</div>
                    </div>

                    <div class="unit_detail__item">
                        <div class="unit_detail__ladel">номер узла</div>
                        <div class="unit_detail__number">{{ unit_detail.number}}</div>
                    </div>

                    <div class="unit_detail__item">
                        <div class="unit_detail__ladel">Наименование узла</div>
                        <div class="unit_detail__name">{{ unit_detail.name}}</div>
                    </div>

            {% else %}
                <p>нет объекта</p>
            {% endif %}
            </div>
        </section>



    {% endblock %}