{% extends "base_generic.html" %}
{% load static %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


{% block content %}
{#        {% if user.profile.is_liner == 0 %}#}

        <section class="section">
            <div class="content_title">
                 <h1 class="title">{{ title }}</h1>
            </div>

            {% if solution_list %}

            <div class="list__section">
                <div class="list_section_name">
                    <h2>Технические решения</h2>
                </div>

                <table class="list__block">
                    <tr class="list__row">
                        <th class="list__head">№</th>
                        <th class="list__head">СП-№/дата</th>
                        <th class="list__head">Тема</th>
                        <th class="list__head">по Несоответствию</th>
                        <th class="list__head"></th>
                    </tr>

                     {% for solution in solution_list %}
                    <tr class="list__row">
                        <td class="list__data">{{ forloop.counter }}</td>
                        <td class="list__data">
                            <a href="{% url 'solution_detail' solution.pk %}">СП-{{ solution.number}} от: {{ solution.date|date:'d.m.Y' }}</a></td>
                        <td class="list__data">{{ solution.title}}</td>
                        <td class="list__data"><a href="{% url 'mismatch_detail' solution.mismatch_id %}">{{ solution.mismatch.title}}</a></td>
                        <td class="list__data">
                            <div class="list__action_icon">
                                <a class="list__link" href="{% url 'solution_update' solution.id %}">
                                    <img class="list__icon" src="{% static 'supervision/icon/edit_icon1.png' %}" alt="редактировать" title="редактировать">
                                </a>
{#                                            <a class="list__link" href="{% url 'letter_delete' letter.id %}">#}
{#                                                <img class="list__icon" src="{% static 'supervision/icon/delete_icon.png' %}" alt="уладить" title="удалить">#}
{#                                            </a>#}
                            </div>
                        </td>
                    </tr>
                     {% endfor %}
                </table>
            </div>

            {% else %}
                <p>Нет Технических решений</p>
            {% endif %}
        </section>


    {% endblock %}