{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}



{% block content %}

    <form action="" method="post" class="form_wrap">
    {% csrf_token %}
        <div class="form_title">
            <h2>Продление командировки</h2>
        </div>
        <div class="form_error">
            {{ form.non_field_errors }}
        </div>
        <div class="form_section">
            <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.extension_date.id_for_label }}">{{ form.extension_date.label }}</label>
                {{ form.extension_date }}
            </div>
            <div class="form_error">{{ form.extension_date.errors }}</div>
        </div>
        </div>

        <biv class="form_btn">
          <input type="submit" value="Продлить" id="extension_business_trip" class="btn ">
        </biv>

    </form>
{% endblock %}