{% extends "base_generic.html" %}
 {% block title %}
     <title>{{ title }}</title>
{% endblock %}

{% block content %}

    <div class="bread_crumbs">
        <ul class="bread_crumbs__list">
            <li class="bread_crumbs_item"><a href="{% url 'business_trip' %}">Список командировок </a></li>
{#            <li class="bread_crumbs_item">  ->{{ employee_detail.last_name }}#}
{#                          {{ employee_detail.first_name}} {{ employee_detail.profile.surname}}#}
{#            </li>#}
        </ul>
    </div>

<form action="" method="post" class="form_wrap">
    {% csrf_token %}

     <div class="form_title">
        <h2>Командировка</h2>
    </div>
    <div class="form_error">
        {{ form.non_field_errors }}
    </div>

    <div class="form_section">
        <div class="form_section_name">
            <h2>сведения о командировке</h2>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.place.id_for_label }}">{{ form.place.label }}</label>
                {{ form.place }}
            </div>
            <div class="form_error">{{ form.place.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
                {{ form.user }}
            </div>
            <div class="form_error">{{ form.user.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.start.id_for_label }}">{{ form.start.label }}</label>
                {{ form.start }}
            </div>
            <div class="form_error">{{ form.start.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.end.id_for_label }}">{{ form.end.label }}</label>
                {{ form.end }}
            </div>
            <div class="form_error">{{ form.end.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.purpose.id_for_label }}">{{ form.purpose.label }}</label>
                {{ form.purpose }}
            </div>
            <div class="form_error">{{ form.purpose.errors }}</div>
        </div>

        <div class="form_block">
            <div class="form_content">
              <label class="form_label" for="{{ form.activ.id_for_label }}">{{ form.activ.label }}</label>
                {{ form.activ }}
            </div>
            <div class="form_error">{{ form.activ.errors }}</div>
        </div>

    </div>



        <biv class="form_btn">
          <input type="submit" value="Сохранить" id="create_business_trip" class="btn ">
        </biv>
        <biv class="form_btn">
            <a href="{% url 'business_trip' %}" class="confirm_delete__cancel btn" >Отменить</a>
        </biv>

</form>
{% endblock %}