{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block content %}
        <div class="bread_crumbs">
            <ul class="bread_crumbs__list">
                <li class="bread_crumbs_item"><a href="{% url 'business_trip' %}">Список командировок </a></li>
                <li class="bread_crumbs_item">  ->{{ trip.place.name }}</li>
            </ul>
        </div>

        <section class="business_trip">
             <div class="content_title">
                <h1 class="title">{{ title }}</h1>
                 {% if trip.status == 2 %}
                     <div class="new_btn">
                        <a href="{% url 'extension_business_trip' trip.pk %}" class="new_link">Продлить</a>
                    </div>
                 {% endif %}
            </div>
            <hr>
        {% if trip %}
            <div class="detail__block">

                <div class="detail__item">
                    <div class="detail__label">статус</div>
                    <div class="detail__text">{{ trip.status }}</div>
                </div>
                <div class="detail__item">
                    <div class="detail__label">Объект</div>
                    <div class="detail__text">{{ trip.place.name }}</div>
                </div>
                <div class="detail__item">
                    <div class="detail__label">Дата начала</div>
                    <div class="detail__text">{{ trip.start|date:"d.m.Y" }}</div>
                </div>
                <div class="detail__item">
                    <div class="detail__label">Дата окончания</div>
                    <div class="detail__text">{{ trip.end|date:"d.m.Y" }}</div>
                </div>
                <div class="detail__item">
                    <div class="detail__label">Цель:</div>
                    <div class="detail__text">{{ trip.purpose }}</div>
                </div>

            </div>
        {% else %}
            <p>У вас нет действующих командировок</p>
        {% endif %}

        </section>



    {% endblock %}