{% load static %}
<section class="section">

             <div class="content_title">
                <h1 class="title">{{ title }}</h1>
{#                 <div class="new_btn">#}
{#                    <a href="#" class="new_link">+ Добавить</a>#}
{#                 </div>#}
             </div>


        <div class="list__filter">
               <ul class="list__filter_list">
                   {% for condition in conditions %}
                       {% if condition.name != 'Отменённая' %}
                           {% if condition.pk == condition_selected %}
                       <li class="list__filter_item selected_item">{{ condition.name}}</li>
                           {% else %}
                       <li class="list__filter_item"><a class="list__filter_link" href="{% url 'condition' condition.pk %}">{{ condition.name}}</a></li>
                           {% endif %}
                       {% endif %}
               {% endfor %}
               </ul>
           </div>



            {% if trips_user %}
            <div class="list__section">
                <div class="list_section_name">
                    <h2>командировка</h2>
                </div>

                    <table class="list__block">
                        <tr class="list__row">
                            <th class="list__head">Объект</th>
                            <th class="list__head">Начало</th>
                            <th class="list__head">Завершена</th>
                            <th class="list__head">Цель</th>
                            <th class="list__head">Осталось дней</th>
                        </tr>

                            {% for trip in trips_user %}

                            <tr class="list__row">
                                <td class="list__data"><a href="{{ trip.get_absolute_url  }}">{{ trip.place.name }}</a></td>
                                <td class="list__data">{{ trip.start|date:"d.m.Y"}}</td>
                                <td class="list__data">{{ trip.end|date:"d.m.Y" }}</td>
                                <td class="list__data">{{ trip.purpose }}</td>
                                <td class="list__data">{{ balanse }}</td>
                            </tr>
                            {% endfor %}
                    </table>
            </div>
            {% else %}
                <p> Здесь пока нет командировок</p>
            {% endif %}

        </section>