{% load static %}
<section class="section business-trip">
             <div class="content_title">
                <h1 class="title">Список командировок</h1>
                 <div class="new_btn">
                    <a href="{% url 'business_trip_create'%}" class="new_link">+ Добавить</a>
                 </div>
             </div>


            <div class="list__filter">
               <ul class="list__filter_list">
                   {% for condition in conditions %}
                       {% if condition.pk == condition_selected %}
                   <li class="list__filter_item selected_item">{{ condition.name}}</li>
                       {% else %}
                   <li class="list__filter_item"><a class="list__filter_link" href="{% url 'condition' condition.pk %}">{{ condition.name}}</a></li>
                       {% endif %}
               {% endfor %}
               </ul>
            </div>


                {% if trips %}

                    <div class="list__section">
                        <div class="list_section_name">
                            <h2>командировки</h2>
                        </div>

                        <table class="list__block">
                            <tr class="list__row">
                                <th class="list__head">№</th>
                                <th class="list__head">Объект</th>
                                <th class="list__head">Сотрудник</th>
                                <th class="list__head">Начало</th>
                                <th class="list__head">Завершена</th>
                                <th class="list__head"></th>
                            </tr>

                            {% for trip in trips %}
                            <tr class="list__row">
                                <td class="list__data">{{ forloop.counter }}</td>
                                <td class="list__data"><a href="{{ trip.get_absolute_url  }}">{{ trip.place.name }}</a></td>
                                <td class="list__data">{{ trip.user.last_name }}</td>
                                <td class="list__data">{{ trip.start|date:"d.m.Y"}}</td>
                                <td class="list__data">{{ trip.end|date:"d.m.Y" }}</td>
                                <td class="list__data list__action">
                                    {% if condition_selected != 3 %}
                                    <div class="list__action_icon">
                                        <a class="list__link" href="{% url 'extension_business_trip' trip.id %}">
                                            <img class="list__icon" src="{% static 'supervision/icon/Time_icon.png' %}" alt="продлить" title="продлить">
                                        </a>
                                        <a class="list__link" href="{% url 'business_trip_update' trip.id %}">
                                            <img class="list__icon" src="{% static 'supervision/icon/edit_icon1.png' %}" alt="редактировать" title="редактировать">
                                        </a>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>

                    </div>

                {% else %}
                <p> Здесь пока нет командировок</p>
                {% endif %}

        </section>