{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block content %}
        <section class="unit_detail">
            <div class="content_title">
                 <h1 class="title">{{ title }} {{ group_detail.number}} {{ group_detail.name}}</h1>
                 <div class="new_btn">
                    <a href="{% url 'group_update' group_detail.pk %}" class="new_link">Редактировать</a>
                 </div>
            </div>
        <hr>

            <div class="unit_detail__block">
                {% if group_detail %}
{#                    <div class="unit_detail__item">#}
                        <div class="unit_detail__ladel">Родительский узел</div>
                        <div class="unit_detail__parent">{{ group_detail.parent }}</div>
{#                    </div>#}

{#                    <div class="unit_detail__item">#}
                        <div class="unit_detail__ladel">номер узла</div>
                        <div class="unit_detail__number">{{ group_detail.number}}</div>
{#                    </div>#}

{#                    <div class="unit_detail__item">#}
                        <div class="unit_detail__ladel">Наименование узла</div>
                        <div class="unit_detail__name">{{ group_detail.name}}</div>
{#                    </div>#}

                    <div class="new_btn">
                        <a href="#" class="new_link">Добавить чертёж</a>
                     </div>

            {% else %}
                <p>нет узлов</p>
            {% endif %}
            </div>
        </section>



    {% endblock %}