*{
    box-sizing: border-box;
}

body{
    font-family: "wf_segoe-ui_semilight", "Segoe UI Semilight", "Segoe WP Semilight", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;

}
h1{
    font-size: 18px;
    text-transform: uppercase;
}
.btn{
    border: none;
    padding: 4px 40px;
    /*width: 100%;*/
    border-radius: 8px;
    background-color: #FF7F50FF;
    color: white;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(246, 100, 52);
}

/*================== Базовый шаблон ======================*/
.wrapper{
    min-height: 100vh;
    position: relative;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 130px;
    background-color: #007264;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
    height: 100%;
    overflow: auto;
}
.auth_user{
    font-size: 12px;
    margin-bottom: 20px;
    border-bottom: 2px solid #028770;
    text-align: center;
}
.auth_user__name{
    margin-bottom: 10px;
}
.auth_user__info{
    margin-bottom: 5px;
}
.auth_user__photo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 40px;
    margin-bottom: 10px;
}
.nav__menu{

}
.nav__menu_list{

}
.nav__menu_link{
    z-index: 5;
}
.nav__menu_item{
    text-align: center;
    margin: 20px 0;
}
.nav__menu_img{
    width: 60px;
    height: 60px;
    /*object-fit: cover;*/
}
.nav__menu_img:hover{
 background-color: #eeeeee;

}
.exit__link{
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid coral;
    padding: 1px 0 5px 0;
    border-radius: 10px;
    background-color: coral;
    color: white;
    width: 100%;
}
.exit__link:hover{
    background-color: rgb(246, 100, 52);
}

.main{
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.content{
    margin-left: 100px;
    color: #333;
}
.content_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.main_info{
    padding-top: 20px;

}
.main_info_block{

}
.main_info_item{
    margin-bottom: 20px;
}

.title_number{
    font-weight: bolder;
}
.new_btn{
    /*position: absolute;*/
    /*top: 23px;*/
    /*right: 42px;*/
    border-radius: 8px;
    background-color: #FF7F50FF;
    color: white;
    padding: 5px 7px 7px 7px;
    width: 150px;
    text-align: center;
}
.new_btn:hover{
    background-color: rgb(246, 100, 52);
}
.sidebar{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    background-color: #f3f3f3;
    height: 100vh;
}
.sidebar__list{

}
.sidebar__item{
    margin-bottom: 10px;
}
.sidebar__filter{
    font-size: 14px;
}
.sidebar__filter_title{
    font-size: 16px;
    text-align: center;
}

.bread_crumbs{
    margin-bottom: 40px;
}
.bread_crumbs__list{
    display: flex;
}
.bread_crumbs_item{

}
.bread_crumbs_item>a{
    border-bottom: 1px solid #006266;
}
.bread_crumbs_item>a:hover{
    border-bottom: 1px solid coral;
}
/*================== Базовый шаблон  end  ======================*/


/*================== FORMS ======================*/
.form_wrap{
    padding-left: 20px;
}
.form_title{
    margin: 15px 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #007264;
    font-weight: 600;
}
.form_name{
    margin-bottom: 10px;
}
.form_error{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}
.form_section{
    /*background: #eeeeee;*/
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.form_section_name{
    background: #eee;
    margin-bottom: 7px;
    padding: 7px 10px;
    font-weight: bolder;
    border-radius: 10px;
}
.form_block{
    padding: 5px 25px;
}
.form_label{
text-align: right;
}
.form_input{
    max-width: 60%;
    min-width: 250px;
    padding: 5px 3px;
}
.radio_input{
    min-width: 10px;
}
.checkbox_input{
    min-width: 13px;
    justify-self: start;
}
.form_content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-items: center;
}
.form_btn{
    margin-left: 195px;
}

.errorlist{
    color: red;
    margin-top: 4px;
    margin-bottom: 15px;
    text-align: left;
    /*border: 2px solid coral;*/
    /*padding: 8px;*/
    /*border-radius: 8px;*/
    grid-column-start: 2;
    font-style: italic;
    font-size: 13px;
}
/*================== FORMS end ======================*/



/*================ Страница подтверждения удаления  =========  */
.confirm_delete__title{
    margin-top: 20px;
}
.confirm_delete__text{
    margin-top: 20px;
}

.confirm_delete__form{
    margin-top: 50px;
}
.confirm_delete__btn{
    margin-right: 50px;
}
.confirm_delete__cancel{

}
/*================ Страница подтверждения удаления  =========  */



/*================ Стили списков таблицы  =========  */
.list__section{
    padding-left:20px;
    margin-bottom: 20px;
}
.list_section_name{
    background: #028770;
    color: #fff;
    /*margin-bottom: 7px;*/
    padding: 7px 10px;
    font-weight: bolder;
    /*border-radius: 10px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(9deg, #028770, #50c4ff);
}
.list__block{
    padding: 5px 25px;
    width: 100%;
}
.list__row{

}
.list__head{
    vertical-align: middle;
    height: 33px;
    font-weight: 500;
    color: #006266;
    text-align: left;
    border-bottom: 2px solid #006266;
}
.list__data{
    padding: 6px 0;
    color: #028770;
    border-bottom: 1px solid #ccc;
}
tr:hover td {
  /*color: #6699ff;*/
    color: coral;
}
.list__action_icon{
}
.list__action{
    padding: 0;
    width: 90px;

}

.list__link{
    display: inline-block;
    line-height: 0;
    margin-right: 20px;
}
.list__icon{
    width: 20px;
    object-fit: cover;
}
/*================ Стили списков таблицы end =========  */

/*================ Стили фильтра списков =========  */
.list__filter{
    margin-bottom: 20px;
}
.list__filter_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list__filter_item{
    padding: 5px 15px;
    border: 1px solid #007264;
    border-radius: 10px;
    color: #007264;
}
.list__filter_link{

}
.selected_item{
    color: coral;
    border-color: coral;

}
.activ_item>a{
    cursor: auto;
}
.list__filter_link:hover{
    color: coral;
}
/*================ Стили фильтра списков end =========  */

/*================ Списоки =========  */
.list__card{
    padding-left: 20px;
}
.card__block{
    margin-bottom: 20px;
    /*width: 70%;*/
}
.card__head{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px 20px;
}
.card__title{
    font-size: 18px;
    font-weight: 500;
}
.card__title_liner{
    font-style: italic;
    font-size: 12px;
}

.card__extra{
    font-style: italic;
    font-size: 12px;
    color: #007264;
}
.card__info{

}
.card__item{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 6px;
    margin-left: 20px;
}
.card__label{
    font-size: 12px;
}
.card__text{

}
/*================ Списоки элементов end ========= */


/*================ Катрочка элемента =========  */
.detail__block{
    margin-top: 20px;
    /*width: 70%;*/
}
.detail__head{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px 20px;
}
.detail__title{
    font-size: 18px;
    font-weight: 500;
}
.detail__extra{
    font-style: italic;
    font-size: 12px;
    color: #007264;
}
.detail__info{

}
.detail__item{
    display: grid;
    grid-template-columns: min(150px) 1fr;
    margin-bottom: 6px;
    margin-left: 20px;
    gap: 10px;
}
.detail__label{
    font-size: 14px;
}
.detail__text {
}
/*================ Катрочка элемента end =========  */

.footer{
    padding-left: 20px;
    padding-right: 20px;
    background-color: mediumslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__wrapper{
    width: 100%;
    height: 100vh;
    background-color: #007264;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.login__title{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    position: absolute;
    top: 16%;
}
.login__form_wrappeer{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.login__form{

}
.login__error{
    padding: 10px;
    color: #FF7F50FF;
}
.small{
    font-size: 12px;
    justify-content: start;
    opacity: 0.6;
}
.login__table{
    margin-bottom: 20px;
}
.login__table_td{
    padding: 0 10px 14px 0;
}
td>input{
    border: none;
    padding: 5px;
}

.login__btn{
    border: none;
    padding: 7px 0;
    width: 100%;
    border-radius: 8px;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
}

/*------------------ несоответствия список------  */

.mismatch{
    /*position: relative;*/
}

.mismatch__block{
    border-bottom: 1px solid #007264;
    margin-bottom: 10px;
}
.mismatch__block_title{
    display: flex;
    margin-bottom: 7px;
}
.mismatch__id{
    margin-right: 20px;
}
.mismatch__block_status{
    display: flex;
    font-size: 10px;
    justify-content: space-around;
    align-items: center;
    /*background-color: rgba(255, 127, 80, 0.15);*/
    padding: 3px 0;
    margin-bottom: 5px;
    font-style: italic;
}
.mismatch__title{

}
.mismatch__type{

}
.mismatch__status{

}
.mismatch_edit>a{
    display: inline-block;
}
.form_input::before{
    display: block;
    content: "rrr";
    width: 15px;
    height: 15px;
    background-image: url("../icon/calendar.png");
}
/*------------------ несоответстия фильтр------  */
.mismatch_filter__block{
    margin-top: 20px;
}
.form_mismatch__send{
    margin-top: 20px;
}
.mismatch_filter__label{
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
 }
.mismatch_filter__label_date{
    display: inline-block;
    width: 23px;
}
.form_mismatch__date_item{
    margin-bottom: 5px;
}
.form_mismatch__period{
    margin-top: 10px;
    margin-left: 25px;
}

/*------------------ несоответствия детально------  */


.mismatch_detail{
    /*margin-bottom: 40px;*/
}
.mismatch_detail__item{
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 7px;
}
.mismatch_detail__ladel{
    flex-basis: 200px;
    margin-right: 10px;
    /*font-size: 12px;*/
 }
.non_flex{
    display: block;
}
.marg_bot{
    margin-bottom: 10px;
}

.block__add{

}
.block__add__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 7px 5px 7px 20px;
    background-color: #ddd;
    border-radius: 10px;
    border-bottom: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    align-items: center;
}
.block__add__content{

}
/*----------------Узлы-----------*/
.unit__block{
    margin-bottom: 7px;
}
.unit__title:hover{
    color: #007264;
}

.unit_detail__block{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 16px;
    padding: 20px;
    align-items: center;
}


/*---------------- Профиль -----------*/
.profile_user{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 16px;
}
.person_info{
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 15px;
}
.person_attestation{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 15px;
}
.person_trips{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    min-width: 600px;
}
.person_career{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

.person__block{
    margin-top: 0;
}
.detail__block_title{
    margin-bottom: 15px;

}
.profile__photo{
    width: 200px;
    /*height: 200px;*/
    margin: 0 auto;
}
.user__photo{
    width: 100%;
    object-fit: cover;
}
.person__table{
    width: 100%;
}
.person__table_head{
    padding: 10px 0;
    background-color: #eeeeee;
}
.person__table_data{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.person__table tr:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*---------------- Профиль end -----------*/
.mismatch_status{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 7px 5px 7px 20px;
    background-color: #ddd;
    border-radius: 10px;
    border-bottom: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    align-items: center;
}
.status_track{
    display: flex;
    font-size: 16px;
    /*margin-bottom: 20px;*/
    /*padding: 7px 5px  7px 20px;*/
    /*background-color: #ddd;*/
    /*border-radius: 10px;*/
    /*border-bottom: 2px solid #c0c0c0;*/
    /*border-right: 2px solid #c0c0c0;*/
}
.status__done{
    color: #007264;
    font-weight: bolder;
}
.status__progress{
    color: #c0c0c0;
    color: #fff;
}
.status__activ{
    color: #fd490f;
    font-weight: bolder;
}
.letter_item{
    background-color: #f3f3f3;
    padding: 13px;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 10px;
}
.solution_item{
    background-color: #f3f3f3;
    padding: 13px;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 10px;
}