<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}"></script>

    <title>Аутентификация</title>
</head>
<body>
<section class="login__wrapper">

    <div class="login__title">
        <h1>Вход в приложение "Supervision"</h1>
    </div>

    <div class="login__form_wrappeer">


    {% if form.errors %}
        <p class="login__error">Ваше имя пользователя и пароль не совпали.
              Пожалуйста, попробуйте снова.</p>
    {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>У вашей учетной записи нет доступа к этой странице.
                Чтобы продолжить, пожалуйста, войдите в систему с
                учетной записью, у которой есть доступ.</p>
          {% else %}
            <p>Пожалуйста, войдите в систему, чтобы
                просмотреть эту страницу.</p>
          {% endif %}
        {% endif %}

            <form method="post" action="{% url 'login' %}" class="login__form">
            {% csrf_token %}
                <table class="login__table">

                <tr>
                  <td class="login__table_td">{{ form.username.label_tag }}</td>
                  <td>{{ form.username }}</td>
                </tr>

                <tr>
                  <td class="login__table_td">{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
                </tr>
                </table>

                <input type="submit" value="Войти" class="login__btn btn"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <div class="small">* Если Вы забыли пароль, обратитесь к администратору ресурса
                для получения нового
            </div>

        </div>
    </section>
</body>
</html>