{% load static %}
<section class="mismatch">

    {% if place %}

    {% if mismatches_place %}
    <div class="content_title">
         <h1 class="title">{{ title }}</h1>
        <div class="new_btn">
            <a href="{% url 'mismatch_create' %}" class="new_link">+ Добавить</a>
        </div>
    </div>
     <div class="list__filter">
       <ul class="list__filter_list">
           <li class="list__filter_item selected_item">Нерешенные</li>
           <li class="list__filter_item"><a class="list__filter_link" href="">Показать все</a></li>
        </ul>
    </div>
    <hr>
    <div class="mismatches">

        {% for mismatch in mismatches_place %}
            <div class="mismatch__block">
                <div class="mismatch__block_title">
                    <div class="mismatch__id">{{ mismatch.pk}}</div>
                    <div class="mismatch__title">
                        <a href="{% url 'mismatch_detail' mismatch.pk %}">{{ mismatch.title}}</a>
                    </div>
                </div>
                <div class="mismatch__block_status">
                  <div class="mismatch__type">{{ mismatch.type }}</div>
                    <div class="mismatch__place">{{ mismatch.place.name }}</div>
                    <div class="mismatch__status">{{ mismatch.status}}</div>
{#                    <div class="mismatch__date">дата: {{ mismatch.date_status|date:"d.m.Y"}}</div>#}
                </div>
            </div>
        {% endfor %}
        </div>

        {% else %}
            <div class="content_title">
                 <h1 class="title">{{ title }}</h1>
                <div class="new_btn">
                    <a href="{% url 'mismatch_create' %}" class="new_link">+ Добавить</a>
                </div>
            </div>
            <p>Несоответствий не выявленно</p>
        {% endif %}

    {% else %}
    {% comment %}
    если нет действующей коммандировки выводятся все коомандировки как у менеджера
    {% endcomment %}
        {% include 'supervision/mismatch/manager_staff_mis.html' %}
    {% endif %}

</section>

{{ activ_trip }}