{% load static %}
<section class="mismatch">
    <div class="content_title">
         <h1 class="title">{{ title }}</h1>
{#        <div class="new_btn">#}
{#            <a href="{% url 'mismatch_create' %}" class="new_link">+ Добавить</a>#}
{#        </div>#}
    </div>
    <hr>
    <div class="mismatches">
    {% if mismatches %}
        {% for mismatch in mismatches %}
            <div class="mismatch__block">
                <div class="mismatch__block_title">
                    <div class="mismatch__id">{{ mismatch.pk}}</div>
                    <div class="mismatch__title">
                        <a href="{% url 'mismatch_detail' mismatch.pk %}">{{ mismatch.title}}</a>
                    </div>
                </div>
                <div class="mismatch__block_status">
                  <div class="mismatch__type">{{ mismatch.get_type_display }}</div>
                    <div class="mismatch__place">{{ mismatch.plaсe.name}}</div>
                    <div class="mismatch__status">{{ mismatch.name}}</div>
                    <div class="mismatch__date">дата: {{ mismatch.date_finding|date:"d.m.Y"}}</div>
                </div>
            </div>
        {% endfor %}


    {% else %}
        <p>Несоответствий не выявленно</p>
    {% endif %}
    </div>
</section>