{% extends "base_generic.html" %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}

    {% block content %}

             {# страница Линейного пользователя#}
        {% if user.profile.is_liner == 1 %}
           {% include 'supervision/mismatch/liner_staff_mis.html' %}
        {% endif %}


        {# страница Менеджера пользователя#}
        {% if user.profile.is_liner == 0 %}
            {% include 'supervision/mismatch/manager_staff_mis.html' %}
        {% endif %}


    {% endblock %}