{% extends "base_generic.html" %}
{% load static %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}


    {% block content %}
        <div class="bread_crumbs">
            <ul class="bread_crumbs__list">
                <li class="bread_crumbs_item"><a href="{% url 'mismatch_list' %}">Список несоответствий </a></li>
                <li class="bread_crumbs_item">  ->{{ mismatch.title }} </li>
            </ul>
        </div>

        <section class="mismatch_detail">
            <div class="content_title non_flex">
                 <h1 class="title marg_bot">{{ title }}</h1>
                Кас: {{ mismatch.title }}
            </div>
            <div class="mismatch_status">
                <div class="status_track">
                    Статус:
                    {% for status in statuses %}
                        {% if status.pk < activ_status %}
                            <div class="status__done">&nbsp;&nbsp;{{ status }}&nbsp;</div>
                        {% elif status.pk == activ_status %}
                         <div class="status__activ"> -->&nbsp;{{ status }}&nbsp;</div>
                        {% elif status.pk > activ_status %}
                            <div class="status__progress"> -->&nbsp;{{ status }}</div>
                        {% endif %}

                    {% endfor %}
                </div>
                {% if mismatch.status_id != 4 %}
                <div class="mismatch_edit">
                    <a href="{% url 'mismatch_update' mismatch.pk %}?mismatch_id={{ mismatch.pk }}&place_id={{ mismatch.place_id }}" class="btn">Редактировать</a>
                </div>
                {% endif %}
            </div>
            <div class="detail__block">
                {% if mismatch %}

                    <div class="detail__item">
                        <div class="detail__ladel">объект</div>
                        <div class="detail__text">{{ mismatch.place.name }}</div>
                    </div>

{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">статус</div>#}
{#                        <div class="detail__text">gggggg</div>#}
{#                    </div>#}

                    <div class="detail__item">
                        <div class="detail__ladel">тип</div>
                        <div class="detail__text">{{ mismatch.type }}</div>
                    </div>

{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">описание</div>#}
{#                        <div class="detail__text">{{ mismatch.title}}</div>#}
{#                    </div>#}

                    <div class="detail__item">
                        <div class="detail__ladel">подробное описание</div>
                        <div class="detail__text">{{ mismatch.text}}</div>
                    </div>

                    <div class="detail__item">
                        <div class="detail__ladel">Предложение по устранению</div>
                        <div class="detail__text">{{ mismatch.correct}}</div>
                    </div>

{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">производитель</div>#}
{#                        <div class="detail__text">{{ mismatch.factory}} </div>#}
{#                    </div>#}

{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">узел</div>#}
{#                        <div class="detail__text">{{ mismatch.unit}}</div>#}
{#                    </div>#}
{##}
{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">чертеж</div>#}
{#                        <div class="detail__text">{{ mismatch.element}} </div>#}
{#                    </div>#}
{##}
{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">количество</div>#}
{#                        <div class="detail__text">{{ mismatch.amount}}</div>#}
{#                    </div>#}

{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">зав.номер</div>#}
{#                        <div class="detail__text"> </div>#}
{#                    </div>#}

{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">заказ</div>#}
{#                        <div class="detail__text"></div>#}
{#                    </div>#}

{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">грузовое место</div>#}
{#                        <div class="detail__text">{{ mismatch.pack}}</div>#}
{#                    </div>#}

{#                    <div class="detail__item">#}
{#                        <div class="detail__ladel">принятое решение</div>#}
{#                        <div class="detail__text">{{ mismatch.solution}}</div>#}
{#                    </div>#}

                    <div class="detail__item">
                        <div class="detail__ladel">Файлы</div>
                        <div class="detail__text">
                            <a href="{% static mismatch.file %}">{{ mismatch.file.name }}</a></div>
                    </div>

                    <div class="detail__item">
                        <div class="detail__ladel">Фото</div>
                        <div class="detail__text">
                            <a href="{% static mismatch.image %}"><img src="{% static mismatch.image %}" alt=""> {{ mismatch.image.name}}</a></div>
                    </div>

                    <hr>
                    <div class="block__add">
                        <div class="block__add__title">
                            <p>Служебные письма</p>

                            {% if user.profile.is_liner == 1 %}
                                {% if mismatch.status_id != 4 %}
                                <a href="{% url 'letter_create' %}?mismatch_id={{ mismatch.pk }}&place_id={{ mismatch.place_id }}" class="btn">+ Добавить</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="block__add__content">

                            {% if letters %}

                                {% for letter in letters %}
                                    <div class="detail__block letter_item">
                                        <div class="detail__item">
                                            <div class="detail__ladel">Номер письма</div>
                                            <div class="detail__text">
                                                <a href="{% url 'letter_detail' letter.pk %}">СП-{{ letter.number }} от {{ letter.date }}</a></div>
                                        </div>
                                        <div class="detail__item">
                                            <div class="detail__ladel">Кому</div>
                                            <div class="detail__text">{{ letter.to }}</div>
                                        </div>
                                        <div class="detail__item">
                                            <div class="detail__ladel">Кас:</div>
                                            <div class="detail__text">{{ letter.title }}</div>
                                        </div>
                                        <div class="detail__item">
                                            <div class="detail__ladel">Текст</div>
                                            <div class="detail__text">{{ letter.text}}</div>
                                        </div>

                                        <div class="detail__item">
                                            <div class="detail__ladel">Файлы</div>
                                            <div class="detail__text">{{ letter.file}}</div>
                                        </div>
                                        <div class="detail__item">
                                            <div class="detail__ladel">Фото</div>
                                            <div class="detail__text">{{ letter.image }}</div>
                                        </div>
                                    </div>
                                {% endfor %}

                            {% endif %}
                        </div>
                    </div>

                    <hr>
                    <div class="block__add">
                        <div class="block__add__title">
                            <p>Технические решения</p>
                            {% if mismatch.status_id != 4 %}
                         <a href="{% url 'solution_create' %}?mismatch_id={{ mismatch.pk }}&place_id={{ mismatch.place_id }}" class="btn">+ Добавить</a>
                            {% endif %}
{#                            {% if user.profile.is_liner == 1 %}#}

{#                            {% endif %}#}
                        </div>
                        <div class="block__add__content">
                       {% if solutions %}
                                <div class="detail__block solution_item">
                                {% for solution in solutions %}

                                    <div class="detail__item">
                                        <div class="detail__ladel">Номер письма</div>
                                        <div class="detail__text">
                                            <a href="{% url 'solution_detail' solution.pk %}">СП-{{ solution.number }} от {{ solution.date }}</a></div>
                                    </div>
                                    <div class="detail__item">
                                        <div class="detail__ladel">От</div>
                                        <div class="detail__text">{{ solution.from }}</div>
                                    </div>
                                    <div class="detail__item">
                                        <div class="detail__ladel">Кас:</div>
                                        <div class="detail__text">{{ solution.title }}</div>
                                    </div>
                                    <div class="detail__item">
                                        <div class="detail__ladel">Текст</div>
                                        <div class="detail__text">{{ solution.text}}</div>
                                    </div>

                                    <div class="detail__item">
                                        <div class="detail__ladel">Файлы</div>
                                        <div class="detail__text">{{ solution.file}}</div>
                                    </div>

                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>




            {% else %}
                <p>Несоответствие не составлялось</p>
            {% endif %}
            </div>

         {% if mismatch.status_id == 3 %}
            <div class="close_mismatch">
             <a href="{% url 'close_mismatch' mismatch.pk %}" class="btn">Закрыть несоответстиве</a>
            </div>
        {% endif %}

        </section>



    {% endblock %}